.todolists--item-selected {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: white;
}

.todolists--item_header-color_blue {
    color: #4183c4;
}

.todolists--items {
    margin-top: 50px !important;
}

.todolists--item-margin_top {
    margin-top: 30px;
}

.todolists--checkbox_item-margin_top {
    margin-top: 20px;
}

.pointer {
    cursor: pointer !important;
}

.grid-container {
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  display: inline-grid !important;
}

.todolists--item_icons-position {
    display: inline !important;
    margin-left: 50px;
}

.todolists--item-done {
    text-decoration: line-through;
}

.todolists--item-add_task {
    margin-top: 30px !important;
}

.initialPage--container {
    background-color: #4183c4 !important;
    color: white;
    padding: 200px !important;
    padding-top: 200px !important;
    padding-bottom: 400px !important;
}

.todolists--add_icon-position {
    float: right;
    margin-left: 10px !important;
}

.todolists--add_icon-position {
    float: right;
    margin-left: 10px !important;
}

.todolists--minus-icon-position {
    padding-right: 300px;
}

.todolists--content:hover .todolists--item_icons-position {
    opacity: 1
}

.todolists--item_icons-position {
    opacity: 0
}
